<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Christian Vladimir Sucuzhanay Arevalo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Who I am</ion-card-title>
    </ion-card-header>

    <ion-card>
    
      <img alt="My pfp" src="https://i.imgur.com/JKipcft.jpeg" />
      <ion-card-header>     
        <ion-card-title>Know me</ion-card-title>
        <ion-card-subtitle>Juan Manuel</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
      Me    
      </ion-card-content>
    </ion-card>
    <ion-card-content>
      Juan Manuel is a dedicated student pursuing a degree in Informatics Engineering. Alongside his studies, he works part-time as a delivery driver to support himself financially.
      Balancing work and academic responsibilities is challenging, but his strong work ethic and determination keep him focused. Juan Manuel is passionate about technology and coding, 
      and he hopes to use his education and experience to build a successful career in the tech industry. Despite the hectic schedule, he remains committed to his goals and manages to find time to excel in both his job and studies.
    </ion-card-content>
  </ion-card>
  

  <style>

  
    ion-card img {
      width: 100%;
      height: 210px;
      object-fit: cover; /* Ajusta la imagen sin distorsión */
    }
  </style>
  <app-explore-container name="Profile page"></app-explore-container>
</ion-content>
